.blog {
  color: $alwaysWhite;
  padding: 0 size(15);
  background: $veryDarkToWhite;

  &__wrapper {
    padding: size(120) 0;
  }

  &__head {
    text-align: center;
  }

  &__cards {
    margin-top: size(60);
    position: relative;
  }

  &__pretitle {
    color: $lightGrayToWhite;
  }

  &__title {
    color: $dark2ToWhite;
  }

  &__back {
    width: 31%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: top;
    }
  }
}

.blog-slide {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__item {
    padding: size(25);
    background: $darkToWhite;
    flex-grow: 1;
    max-width: size(570);
    position: relative;
    box-shadow: 0 size(1) size(10) rgba(0, 0, 0, 0.1);
  }

  &__left {
    flex-grow: 1;
    max-width: 100%;
  }

  &__head {
    width: 100%;
    display: flex;
    gap: size(14);
  }

  &__title {
    font-size: $regularSize;
    line-height: size(24);
    font-weight: 400;
    color: $accent-c;
  }

  &__link {
    margin: size(18) 0 size(29);
    font-weight: 500;
    font-size: $mobileHeading;
    line-height: size(31);
    max-width: size(342);
    color: $dark2ToWhite;
  }

  &__author {
    display: flex;
    gap: size(10);
  }

  &__additional {
    padding-top: size(12);
  }

  &__name {
    font-weight: 500;
    font-size: $navSize;
    line-height: size(25);
    color: $dark2ToWhite;
  }

  &__description {
    margin-top: size(6);
    font-size: $regularSize;
    line-height: size(24);
    font-weight: 400;
    color: $alwaysGray;
  }

  &__date {
    padding-right: size(21);
    position: relative;

    &::after {
      content: "";
      height: size(5);
      width: size(5);
      border-radius: 50%;
      background: $alwaysGray;
      position: absolute;
      top: 50%;
      right: size(6);
      transform: translateY(-50%);
    }
  }
}

.blog-slide-avatar {
  height: size(80);
  width: size(80);
  border-radius: 50%;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.slick-track {
  display: flex;
  cursor: grab;
  justify-content: space-between;
  gap: size(10);
  padding: size(5);
}

.slick-dots {
  margin: size(50) auto 0;
  display: flex;
  width: size(90);
  justify-content: space-between;

  button {
    width: size(15);
    height: size(15);
    border-radius: 50%;
    background: $alwaysGray;
  }

  & > li {
    font-size: 0;
  }
}

.slick-active button {
  background: $accent-c;
}
.slick-list {
  overflow: hidden;
}

@media (max-width: $tablet) {
  .blog {
    &__back {
      flex: 1 0 size(65);
      max-width: 50%;
      margin: 0 auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: top;
      }
    }
  }

  .blog-slide {
    &__item {
      max-width: size(332);
    }

    &__head {
      width: 100%;
      display: flex;
      flex-wrap: wrap-reverse;
      gap: size(14);
    }

    &__left {
      flex: 1 0 size(195);
      max-width: 100%;
      display: flex;
      flex-direction: column;
    }

    &__link {
      margin: size(18) 0 size(22);
      font-weight: 500;
      font-size: $navSize;
      line-height: size(25);
      max-width: size(217);
    }

    &__author {
      display: flex;
      flex-wrap: wrap;
      gap: size(10);
    }

    &__additional {
      padding-top: 0;
    }

    &__description {
      font-size: $tiny;
      line-height: size(16);
      display: flex;
      flex-wrap: wrap;
    }

    &__date {
      flex: 1 0 size(125);
      max-width: fit-content;
    }
  }

  .blog-slide-avatar {
    height: size(60);
    max-width: size(60);
    border-radius: 50%;
    flex: 1 0 size(60);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@media (max-width: $mobile) {
  .blog {
    &__back {
      flex: 1 0 auto;
      min-width: size(80);

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: top;
      }
    }

    &__wrapper {
      padding: size(50) 0;
    }

    &__cards {
      margin-top: size(18);
      position: relative;
    }
  }

  .blog-slide {
    &__item {
      min-width: size(296);
      padding: size(18);
    }

    &__head {
      flex-wrap: nowrap;
      gap: size(10);
    }

    &__left {
      max-width: size(170);
    }

    &__title {
      font-weight: 400;
      font-size: $tiny;
      line-height: size(16);
    }

    &__link {
      margin: size(6) 0 size(15);
      font-weight: 400;
      font-size: $regularSize;
      line-height: size(24);
    }

    &__author {
      flex-wrap: nowrap;
      gap: size(10);
    }

    &__name {
      font-weight: 400;
      font-size: $regularSize;
      line-height: size(24);
    }

    &__additional {
      width: 100%;
    }

    &__description {
      font-size: $tiny;
      line-height: size(16);
      flex-wrap: nowrap;
    }

    &__date {
      padding-right: size(15);
    }
  }

  .blog-slide-avatar {
    max-width: size(40);
    flex: 1 0 auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: top;
    }
  }
}
