@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text-accent {
  color: #FF5300;
}

.button {
  color: #FFFFFF;
  width: 150px;
  height: 50px;
  font-size: 20px;
  -webkit-box-shadow: 0px 1px 10px #FF5300;
          box-shadow: 0px 1px 10px #FF5300;
  background: #FF5300;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}
.button:hover {
  -webkit-box-shadow: 0px 1px 10px #3A3B3C;
          box-shadow: 0px 1px 10px #3A3B3C;
}

.container {
  max-width: 1179px;
  margin: 0 auto;
}

body {
  position: relative;
  font-family: "Work Sans", sans-serif;
}
body button {
  font-family: inherit;
}
body a {
  text-decoration: none;
}
body a:link {
  color: #FFFFFF;
}
body a:visited {
  color: #FFFFFF;
}
body a:hover {
  color: #FF5300;
}
body a:active {
  color: #FF5300;
}
body ul {
  list-style-type: none;
}

.header {
  padding: 26px 15px;
  width: 100%;
  position: absolute;
  background-color: #373737;
  overflow: hidden;
  font-size: 20px;
  z-index: 999;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger {
  display: none;
}

.menu__logo {
  min-width: 162px;
  height: 48px;
  margin-right: 10px;
  margin-left: 5px;
  position: relative;
  background: url("../../assets/header/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 935px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  width: 100%;
  max-width: 692px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.menu__button {
  height: 24px;
  width: 24px;
  margin-left: 10px;
  margin-right: 5px;
}
.menu__button svg {
  display: block;
  margin: auto;
  cursor: pointer;
}
.menu__button svg:hover path {
  fill: #FF5300;
}

@media (max-width: 786px) {
  .container {
    max-width: 690px;
    margin: 0 auto;
  }

  .header {
    padding: 27px 15px 28px;
  }

  .menu {
    font-size: 16px;
  }

  .menu__logo {
    min-width: 83px;
    height: 25px;
    margin: 0 15px 0 0;
    position: relative;
    background: url("../../assets/header/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .menu__nav {
    max-width: 579px;
  }

  .menu__list {
    max-width: 526px;
  }

  .menu__button {
    margin-right: 0px;
  }
}
@media (max-width: 720px) {
  .menu__logo {
    min-width: 100px;
  }

  .menu {
    font-size: 12px;
  }

  .menu__nav {
    max-width: 450px;
    padding-left: 95px;
  }

  .menu__list {
    display: none;
  }

  .burger {
    width: 18px;
    height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
  }
  .burger__line {
    height: 2px;
    width: 100%;
    background: #FFFFFF;
  }
}
@media (max-width: 376px) {
  .container {
    max-width: 345px;
    margin: 0 auto;
  }

  .header {
    padding: 9px 15px 10px 15px;
  }

  .menu__logo {
    min-width: 102px;
    height: 31px;
    position: relative;
    background: url("../../assets/header/logo-mobile.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .menu__button {
    margin: 0;
  }

  .menu__nav {
    max-width: 183px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 0px;
  }

  .menu__list {
    display: none;
  }

  .burger {
    width: 18px;
    height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
  }
  .burger__line {
    height: 2px;
    width: 100%;
    background: #FFFFFF;
  }
}