@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");
@import "./mixins.scss";
// base for mixin
$base-size: 16;
//colors
$primary-c: #373737;
$accent-c: #ff5300;
$paragraph-c: #7b7b7b;
$white-c: #ffffff;
$lightGray-c: #7b7b7b;

//backgrounds
$dark1-c: #3a3b3c;
$dark2-c: #242526;
$dark3-c: #18191a;

//circles
$grey-c: #7b7b7b;
$blue-c: #00acff;
//////////////

//fontfamily
$workSans: "Work Sans", sans-serif;

//sizes
$regularSize: size(16);
$navSize: size(20);
$headingMain: size(48);
$heading: size(39.0625);
$mobileTitle: size(31.25);
$mobileHeading: size(25);

//resolutions
$tablet: size(786);
$mobile: size(376);
$containerDesktop: size(1179);
$containerTablet: size(690);
$containerMobile: size(345);
