@import "../vars/mixins.scss";

.text-accent {
  color: $accent-c;
}

.text-block {
  font-weight: 400;
  font-size: size(16);
  line-height: size(24);
}

.cmn-button {
  color: $white-c;
  width: size(150);
  height: size(50);
  font-size: $navSize;
  background: $accent-c;
  border-radius: size(5);
  font-weight: 500;

  &:hover {
    box-shadow: 0 size(1) size(10) $accent-c;
  }
}
